section {
  margin-top: 8rem;
}

nav {
  z-index: 1 !important;
}

.hidden {
  display: none;
}

.modal__intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 3rem;
  text-align: center;
  border-radius: 1rem;
  width: 30%;
  z-index: 3;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 2;
}

.vote {
  display: inline-block;
}

.paslon__card {
  background-color: #e1e1e1;
  border-radius: 5px;
  overflow: hidden;
}
.paslon__img {
  position: relative;
  display: flex;
}
.img__overlay {
  position: absolute;
  bottom: 0;
  height: 7rem;
  width: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}
.paslon__img h1 {
  position: absolute;
  bottom: 0.3rem;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-shadow: 4px 3px 0px rgba(0, 0, 0, 0.15), 9px 8px 0px rgba(0, 0, 0, 0.15);
}
.btn__vote {
  width: 90%;
  padding: 0.6rem 0;
  margin: 1.5rem auto 1rem;
}

.paslon__rule {
  display: none;
}

footer {
  width: 100%;
  margin-top: 3.6rem;
  padding: 1rem 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

@media (max-width: 991px) {
  .modal__intro {
    width: 80%;
  }

  .paslon__rule {
    display: block;
    margin: 1rem 0;
  }
}
